davidson/_flows/getAllPokemons.yml
id: get-all-pokemons
namespace: poc.pokeapi
tasks:
  - id: python1
    type: io.kestra.plugin.scripts.python.Script
    docker:
      image: python:slim
    beforeCommands:
      - pip install requests
    script: |
      import requests
      import json
      pokemons = []
      api_endpoint = 'https://pokeapi.co/api/v2/pokemon/'
      response = requests.get(api_endpoint)
      if response.status_code == 200:
          data = json.loads(response.text)
          nextCall = data['next']
          print("Next call URL:", nextCall)
          for i in data['results']:
              pokemons.append(i['name'])
      else:
          print("Error:", response.status_code, response.text)
      print(nextCall)
      print(pokemons)
      with open('{{ outputDir }}/pokemons.json', 'w') as f:
          json.dump(pokemons, f)
      print('{{ outputDir }}')
  - id: python2
    type: io.kestra.plugin.scripts.python.Script
    inputFiles:
      pokemons.json: "{{ outputs.python1.outputFiles['pokemons.json'] }}"
    docker:
      image: python:slim
    beforeCommands:
      - pip install requests
    script: |
      import requests
      import json
      csvLines = []
      api_endpoint = 'https://pokeapi.co/api/v2/pokemon/'
      with open('{{ workingDir }}/pokemons.json') as f:
          pokemons = json.load(f)
      for pokemon in pokemons:
          fields = {}
          response = requests.get(api_endpoint + pokemon)
          data = json.loads(response.text)
          fields['name'] = data['name']
          csvLines.append(fields)
      print(csvLines)