dev/_flows/api-database.yml
id: api-database
namespace: dev.data-pipelines
tasks:
  - id: listPokemons
    type: io.kestra.plugin.scripts.python.Script
    docker:
      image: python:slim
    beforeCommands:
      - pip install requests
    outputFiles:
      - "pokemons.json"
    script: "{{ read('scripts/data-pipelines/api-database/listPokemons.py') }}"

  - id: writeToPostgre
    type: io.kestra.plugin.scripts.python.Script
    inputFiles:
      pokemons.json: "{{ outputs.listPokemons.outputFiles['pokemons.json'] }}"
    docker:
      image: python:slim
    beforeCommands:
      - pip install requests pandas sqlalchemy psycopg2-binary
    outputFiles:
      - "pokemons.csv"
    script: "{{ read('scripts/data-pipelines/api-database/writeToPostgre.py') }}"

  - id: filterUsingDuckDB
    type: io.kestra.plugin.jdbc.duckdb.Query
    inputFiles:
      pokemons.csv: "{{ outputs.writeToPostgre.outputFiles['pokemons.csv'] }}"
    outputFiles:
       - out
    sql: |
      COPY (
        SELECT name
        FROM read_csv_auto('{{ workingDir }}/pokemons.csv', header=True)
        WHERE name ^@ 'c'
      ) TO
        '{{ outputFiles.out }}'
      (HEADER, DELIMITER ',');