dev/_flows/getAllPokemons.yml
id: get-all-pokemons
namespace: dev
tasks:
  - id: listPokemons
    type: io.kestra.plugin.scripts.python.Script
    docker:
      image: python:slim
    beforeCommands:
      - pip install requests
    outputFiles:
      - "pokemons.json"
    script: "{{ read('scripts/scripts/listPokemons.py') }}"

  - id: extractPokemonData
    type: io.kestra.plugin.scripts.python.Script
    inputFiles:
      pokemons.json: "{{ outputs.listPokemons.outputFiles['pokemons.json'] }}"
    docker:
      image: python:slim
    beforeCommands:
      - pip install requests
    script: "{{ read('scripts/scripts/extractPokemonData.py') }}"